.password-input {
    position: relative;
    width: 100%;
}


.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

.toggle-password-visibility {
    position: absolute;
    right: 10px;
    background: black;
    border: none;
    cursor: pointer;
    outline: none;
    color: var(--font-color);
    font-size: 15px;
}